/* montserrat-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/montserrat-v31-latin-500.woff2') format('woff2');
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/montserrat-v31-latin-700.woff2') format('woff2');
}
/* fraunces-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/fraunces-v38-latin-700.woff2') format('woff2');
}